@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Roger's ASP.NET Core App. <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center container">
    <h2 class="h2">Table for Cortex Data</h2>
    <table class="table table-bordered table-striped table-hover" id="cortex_table">
        <thead>
            <tr>
                <th scope="col">Property</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            @*<tr>
                <td>Computer</td>
                <td>PC13440</td>
            </tr>*@
        </tbody>
    </table>
</div>